@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(17 24 39);
}
body::-webkit-scrollbar-thumb {
    background-color: #60aeff;
}